body {
	background-image: -webkit-linear-gradient(top, #00A3DB, #008DBB);background-image: -moz-linear-gradient(center top, #00A3DB, #008DBB);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00A3DB, endColorstr=#008DBB);
	color: #FFF;
	font-family: BebasNeue;
}

ul {margin:0; padding: 0;}
li {list-style: none;}

.left{float: left}
.right{float: right}
.block {display: block}
.float-none {float: none}

@font-face {
  	font-family: "BebasNeue";
  	src: url(../fonts/BebasNeue.otf) format("truetype");
}

header, section {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 100px;
}

header h1 {
	width: 405px;
	height: 105px;
	background: url(../icon/topo.png) no-repeat;
	text-indent: -9999px;
	margin: 7% 0 0 6%;
	float: left;
}

#user {
	height: 71px;
	float: right;
	margin: 9% 6% 0 0;
}

.circle {
	width: 71px;
	height: 71px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: url(../icon/user.png) center no-repeat #FFF;
	float: left;
}

.user-data {
	font-size: 20px;
	float: left;
	margin: 12px 0 0 12px;
	position: relative;
}

.user-name {
	display: block;
}

.user-icon {
	width: 28px;
	height: 23px;
	background: url(../icon/icon-user.png) no-repeat;
	position: absolute;
	right: -35px;
	top: 10px;
}

.user-championship {
	display: inline-block;
	border-top: 1px solid #FFF;
	float: left;
}

.game {
	width: 50%;
	float: left;
}

.xbox a{
	display: block;
	width: 340px;
	height: 330px;
	margin: 0 auto;
	background: url(../icon/xbox.png) no-repeat;
}

.pebolim a {
	display: block;
	width: 330px;
	height: 345px;
	margin: 0 auto;
	background: url(../icon/pebolim.png) no-repeat;
}

footer {
	width: 100%;
	height: 160px;
	position: absolute;
	bottom: 0;
	background-color: #006388;
}

.step-list {
	height: 100%;
}

.step-1 {
	background-color: #0077A0; 
	width: 33%;
	margin-right: -82px;

}
.step-2 {
	background-color: #006D96; 
	width: 33%;
	background-image: url(../icon/arrow.png);
	background-position: 2px -2px;
	background-repeat: no-repeat;
}
.step-3 {
	background-color: #006388;
	width: 33%;
	background-image: url(../icon/arrow.png);
	background-position: 2px -2px;
	background-repeat: no-repeat;
}

.step {
	height: 100%;
	position: relative;
}

.step-number {
	width: 94px;
	height: 100%;
	margin-left: 82px;
	font-family: "BebasNeue", sans-serif;
}

.step-number-1 {
	margin-left: 0;
	color: #FFC926;
	margin-top: -46px;
	font-size: 229px;
}

.step-number-2 {
	color: #A2DB00;
	margin-top: -44px;
	font-size: 227px;
}

.step-number-3 {
	color: #00FFFF;
	margin-top: -44px;
	font-size: 224px;
}

.step-featured {
	display: block;
	font-size: 20px;
	color: #FFF;
}

.step-container {
	float: left;
	width: 60%;
	padding-left: 10px;
}

.step-content {
	color: #FFF;
	font-size: 14px;
	width: 50%;
	display: block;
}

.arrow {
	position: absolute;
	left: 0;
	width: 0; 
	height: 0; 
	border-top: 81px solid transparent;
	border-bottom: 81px solid transparent;
} 

.arrow-1 {
	border-left: 82px solid #0077A0;
}

.arrow-2 {
	border-left: 82px solid #006D96;
}

@media (max-width: 570px) { /* iphone portrait, galaxy S2 portrait*/
	header, section {
		margin-bottom: 40px;
	}

	header h1 {
		background: url(../icon/topo-res.png) center no-repeat;
		margin-left: -7%;
	}

	.game {
		width: 100%;
	}

	.xbox a {
		background: url(../icon/xbox-res.png) center no-repeat;
	}

	.pebolim a {
		background: url(../icon/pebolim-res.png) center no-repeat;
	}
}